@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-raleway: 'Raleway', sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(
    to bottom,
    #ff0b55 13%, 
    #ff477f 56%, 
    #ff6392 77%,
    #ff7fa6 100% 
  );
  color: var(--foreground);
  font-family: var(--font-raleway);
  height: 100vh;
}

